<web-app>

    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>com.servlet.session.SessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>

</web-app>